* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", Helvetica, sans-seri;
}
.todo-app-topContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  height: 90px;
}
center {
  font-size: 2rem;
  margin-top: 50px;
}
.todo-app-topContainer input {
  height: 45px;
  width: 30%;
  margin-top: 10px;
  border-radius: 5px;
  /* border-bottom: 1px solid black; */
}
.todo-app-topContainer input[type="text"] {
  text-align: center;
  font-size: 1.2rem;
}
.todo-app-topContainer button {
  height: 40px;
  width: 15%;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgb(20, 99, 202);
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
}
.toto-app-bottomContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
table {
  border-collapse: collapse;
  border: 2px solid grey;
  width: 80%;
}
th,
td {
  border: 1px solid grey;
  padding: 18px;
  text-align: center;
}
